/* Generated Gud Color Palette */

:root {
  --color-gray-50: #eaeff7;
  --color-gray-100: #dbe0e9;
  --color-gray-200: #bec4ce;
  --color-gray-300: #a2a8b4;
  --color-gray-400: #878d99;
  --color-gray-500: #6d737f;
  --color-gray-600: #535964;
  --color-gray-700: #3b404a;
  --color-gray-800: #242831;
  --color-gray-900: #101319;
  --color-gray-950: #07090e;
}
