/* Generated Gud Color Palette */

:root {
  --color-blue-50: #c2f0ff;
  --color-blue-100: #aee1ff;
  --color-blue-200: #87c2ff;
  --color-blue-300: #63a4ff;
  --color-blue-400: #4186f8;
  --color-blue-500: #2269db;
  --color-blue-600: #004dba;
  --color-blue-700: #003395;
  --color-blue-800: #001b6f;
  --color-blue-900: #000349;
  --color-blue-950: #000036;
}
